*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Segoe UI",sans-serif;
}

.auth-container{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(
    135deg,
    #f8f9fc,
    #eef2ff
  );
  padding:20px;
}

.auth-card{
  width:100%;
  max-width:450px;
  background:white;
  padding:40px;
  border-radius:20px;
  box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

.auth-card h2{
  text-align:center;
  color:#e61c47;
  margin-bottom:10px;
}

.subtitle{
  text-align:center;
  color:#666;
  margin-bottom:25px;
}

.auth-card form{
  display:flex;
  flex-direction:column;
  gap:18px;
}

.auth-card input{
  width:100%;
  padding:14px;
  border:1px solid #ddd;
  border-radius:10px;
  font-size:15px;
  outline:none;
}

.auth-card input:focus{
  border-color:#e61c47;
}

.auth-card button{
  background:#e61c47;
  color:white;
  border:none;
  padding:14px;
  border-radius:10px;
  font-size:16px;
  font-weight:600;
  cursor:pointer;
}

.auth-card button:hover{
  background:#c5163d;
}

.bottom-text{
  text-align:center;
  margin-top:20px;
}

.bottom-text a{
  color:#e61c47;
  text-decoration:none;
  font-weight:600;
}

@media(max-width:480px){

  .auth-card{
    padding:25px;
  }

  .auth-card h2{
    font-size:1.6rem;
  }

}